In [5]:
#list methods
#append()

mylist = [1,2,"three",4.5,True,False]
print(len(mylist))

mylist.append(100)
print(mylist)
mylist.append([500,600,700])
print(mylist)
print(len(mylist))

6
[1, 2, 'three', 4.5, True, False, 100]
[1, 2, 'three', 4.5, True, False, 100, [500, 600, 700]]
8

In [6]:
mylist.insert(2,"ICEEM")
print(mylist)

[1, 2, 'ICEEM', 'three', 4.5, True, False, 100, [500, 600, 700]]

In [7]:
mylist.pop(3)

'three'

In [8]:
mylist

[1, 2, 'ICEEM', 4.5, True, False, 100, [500, 600, 700]]

In [9]:
mylist.pop()

[500, 600, 700]

In [10]:
mylist

[1, 2, 'ICEEM', 4.5, True, False, 100]

In [11]:
mylist.remove(4.5)

In [12]:
mylist

[1, 2, 'ICEEM', True, False, 100]

In [13]:
list1=mylist.copy()
list1

[1, 2, 'ICEEM', True, False, 100]

In [14]:
list2=["A","B"]
new_list=list1+list2
new_list

[1, 2, 'ICEEM', True, False, 100, 'A', 'B']

In [15]:
list3=["neha","sona"]
new_list=list1+list2+list3
new_list

[1, 2, 'ICEEM', True, False, 100, 'A', 'B', 'neha', 'sona']

In [16]:
list4=["samu","jau"]
new_list.extend(list4)
new_list

[1, 2, 'ICEEM', True, False, 100, 'A', 'B', 'neha', 'sona', 'samu', 'jau']

In [17]:
#string-text data

str1="ICEEM"
print(type(str1))

<class 'str'>

In [18]:
#string methods

print(str1.lower())
print(str1.upper())
print(str1.title())
print(str1.capitalize())

iceem
ICEEM
Iceem
Iceem

In [21]:
str="i'm neha devkar"
print(str.upper())
print(str.title())
print(str.capitalize())

I'M NEHA DEVKAR
I'M Neha Devkar
I'm neha devkar

In [23]:
#replace method
name="monu"
name=name.replace("m","s")
name

'sonu'

In [24]:
#count method
mystr2="one man one day one dog one tree"
mystr2.count("one")

4

In [25]:
name.startswith("s")

True

In [32]:
print(name.startswith("s"))
print(name.startswith("S"))
print(name.endswith("o"))
print(name.endswith("u"))
print(name.endswith("U"))

True
False
False
True
False

In [35]:
#split
str3="ICEEM is a Engg and Polytechnic college"
print(str3.split())
print(str3.split("and"))
print(str3.split("e"))

['ICEEM', 'is', 'a', 'Engg', 'and', 'Polytechnic', 'college']
['ICEEM is a Engg ', ' Polytechnic college']
['ICEEM is a Engg and Polyt', 'chnic coll', 'g', '']

In [36]:
mystr4='123456789'
print(mystr4.isalpha())
print(mystr4.isalnum())

False
True

In [38]:
mystr5='asdfdbnb'
print(mystr5.islower())
print(mystr5.isupper())

True
False

In [40]:
#indexing = positions of elements

str6="ICEEM"
print(str6[1])
print(str6[4])

C
M

In [41]:
print(str6[-2])

E

In [42]:
str3

'ICEEM is a Engg and Polytechnic college'

In [43]:
str3[11:28]

'Engg and Polytech'

In [45]:
str3[11:31]

'Engg and Polytechnic'

In [46]:
str3[20:31:1]

'Polytechnic'

In [47]:
str3[20:31:2]

'Pltcnc'

In [50]:
str3[-1:-20:-1]

'egelloc cinhcetyloP'

In [51]:
str3

'ICEEM is a Engg and Polytechnic college'

In [55]:
str3="ICEEM"
print(str3[::-1])
str3="Neha"
print(str3[::-1])

MEECI
aheN

In [56]:
str3="ICEEM"
str3==str3[::-1]

False

In [60]:
#check given string for palindrome
if str3==str3[::-1]:
 print("palindrome")
else:
 print("not polindrome")

not polindrome

In [66]:
#dictionary-it is a collection of data in form of key and value pair
my_student={"name":"Neha","age":21}
my_student["name"]
students={"student1":{"name":"Gau","age":19},
"student2":{"name":"shivani","age":20}
}
students["student2"]["age"]

20

In [67]:
#dictionary methods
students.keys()

dict_keys(['student1', 'student2'])

In [68]:
students.values()

dict_values([{'name': 'Gau', 'age': 19}, {'name': 'shivani', 'age': 20}])

In [69]:
students.items()

dict_items([('student1', {'name': 'Gau', 'age': 19}), ('student2', {'name': 'shivani', 'age': 20})])

In [70]:
#set-it does not allow duplicates
myset={1,2,3,4,5,1,2,3}
myset

{1, 2, 3, 4, 5}

In [71]:
#set methods
myset.add(21)
myset

{1, 2, 3, 4, 5, 21}

In [72]:
myset.add(22)

myset

{1, 2, 3, 4, 5, 21, 22}

In [73]:
myset.update([44,33,55])
myset

{1, 2, 3, 4, 5, 21, 22, 33, 44, 55}

In [77]:
myset.remove(33)
myset

KeyError: 33

In [78]:
myset.discard(55)
myset

{1, 2, 3, 4, 5, 21, 22, 44}

In [79]:
myset.discard(33)
myset

{1, 2, 3, 4, 5, 21, 22, 44}

In [80]:
#conditonal statements
# IF, ELTF & ELSE
x=12
if x == 12:
    print("x is equal to 12")

x is equal to 12

In [81]:
x=13
if x == 12:
    print("x is equal to 12")
else:
        print("x is not equal to 12")

x is not equal to 12

In [106]:
num=eval(input("Enter marks: "))
 
if num>=80:
      print("Grade A")
elif num>=60:
      print("Grade B")
elif num>=40:
      print("Grade C")
else:
      print("Grade D")

Enter marks:  72

Grade B

In [92]:
# ATM program using if else

user_name_input=input("enter your name:")
if user_name_input.lower()=="iceem":
    user_pin=int(input("enter your pin:"))
    if user_pin==1234:
        print("welcome iceem")
    else:
        print("invalid user")

enter your name: iceem
enter your pin: 1234

welcome iceem

In [4]:
#loop
#for loop and while loop

for i in range(3):
    print("thank you")

thank you
thank you
thank you

In [5]:
for i in range(3):
    print(f"{i}thank you")

0thank you
1thank you
2thank you

In [6]:
#no from 1 to 20

for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [7]:
#table of 2
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [8]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [9]:
list1=[1,2,3,4,5]
for i in list1:
    print(i)

1
2
3
4
5

In [10]:
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)

1
4
9
16
25

In [11]:
list1=[1,2,3,4,5]
for i in list1:
    print(i**2)

1
4
9
16
25

In [19]:
for i in range(1,100):
    print(i)
    if i%2==0:
        print("even numbers:")
    else:
        print("odd numbers:")

1
odd numbers:
2
even numbers:
3
odd numbers:
4
even numbers:
5
odd numbers:
6
even numbers:
7
odd numbers:
8
even numbers:
9
odd numbers:
10
even numbers:
11
odd numbers:
12
even numbers:
13
odd numbers:
14
even numbers:
15
odd numbers:
16
even numbers:
17
odd numbers:
18
even numbers:
19
odd numbers:
20
even numbers:
21
odd numbers:
22
even numbers:
23
odd numbers:
24
even numbers:
25
odd numbers:
26
even numbers:
27
odd numbers:
28
even numbers:
29
odd numbers:
30
even numbers:
31
odd numbers:
32
even numbers:
33
odd numbers:
34
even numbers:
35
odd numbers:
36
even numbers:
37
odd numbers:
38
even numbers:
39
odd numbers:
40
even numbers:
41
odd numbers:
42
even numbers:
43
odd numbers:
44
even numbers:
45
odd numbers:
46
even numbers:
47
odd numbers:
48
even numbers:
49
odd numbers:
50
even numbers:
51
odd numbers:
52
even numbers:
53
odd numbers:
54
even numbers:
55
odd numbers:
56
even numbers:
57
odd numbers:
58
even numbers:
59
odd numbers:
60
even numbers:
61
odd numbers:
62
even numbers:
63
odd numbers:
64
even numbers:
65
odd numbers:
66
even numbers:
67
odd numbers:
68
even numbers:
69
odd numbers:
70
even numbers:
71
odd numbers:
72
even numbers:
73
odd numbers:
74
even numbers:
75
odd numbers:
76
even numbers:
77
odd numbers:
78
even numbers:
79
odd numbers:
80
even numbers:
81
odd numbers:
82
even numbers:
83
odd numbers:
84
even numbers:
85
odd numbers:
86
even numbers:
87
odd numbers:
88
even numbers:
89
odd numbers:
90
even numbers:
91
odd numbers:
92
even numbers:
93
odd numbers:
94
even numbers:
95
odd numbers:
96
even numbers:
97
odd numbers:
98
even numbers:
99
odd numbers:

In [23]:
even_list = []
odd_list = []

for i in range(1,101):
    if i % 2 == 0:
        even_list.append(i)
    else:
        odd_list.append(i)

In [24]:
even_list

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [25]:
odd_list

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [33]:
for i in range(1,11):
    for j in range(1,11):
        print(f"{i}*{j}={i*j}",end=" ")
        print()

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [38]:
for i in range(1,11):
    for j in range(1):
        print(f"{i}*{i}={i*i}", end=" ")
              
        print()

1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100

In [47]:
for i in range(1,11):
  for j in range(1,11):
     print(f"{j} * {i:1} = {i*j:1}", end="\t")
  print()

1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	10 * 1 = 10
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	10 * 2 = 20
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	10 * 3 = 30
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	10 * 4 = 40
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	10 * 5 = 50
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	10 * 6 = 60
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	10 * 7 = 70
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	10 * 8 = 80
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81	10 * 9 = 90
1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50	6 * 10 = 60	7 * 10 = 70	8 * 10 = 80	9 * 10 = 90	10 * 10 = 100

In [50]:
for i in range(1,11):
    for j in range(1,101):
        print(f"{j}*{j}={j*j}", end=" ")
              
        print()

1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
11*11=121
12*12=144
13*13=169
14*14=196
15*15=225
16*16=256
17*17=289
18*18=324
19*19=361
20*20=400
21*21=441
22*22=484
23*23=529
24*24=576
25*25=625
26*26=676
27*27=729
28*28=784
29*29=841
30*30=900
31*31=961
32*32=1024
33*33=1089
34*34=1156
35*35=1225
36*36=1296
37*37=1369
38*38=1444
39*39=1521
40*40=1600
41*41=1681
42*42=1764
43*43=1849
44*44=1936
45*45=2025
46*46=2116
47*47=2209
48*48=2304
49*49=2401
50*50=2500
51*51=2601
52*52=2704
53*53=2809
54*54=2916
55*55=3025
56*56=3136
57*57=3249
58*58=3364
59*59=3481
60*60=3600
61*61=3721
62*62=3844
63*63=3969
64*64=4096
65*65=4225
66*66=4356
67*67=4489
68*68=4624
69*69=4761
70*70=4900
71*71=5041
72*72=5184
73*73=5329
74*74=5476
75*75=5625
76*76=5776
77*77=5929
78*78=6084
79*79=6241
80*80=6400
81*81=6561
82*82=6724
83*83=6889
84*84=7056
85*85=7225
86*86=7396
87*87=7569
88*88=7744
89*89=7921
90*90=8100
91*91=8281
92*92=8464
93*93=8649
94*94=8836
95*95=9025
96*96=9216
97*97=9409
98*98=9604
99*99=9801
100*100=10000

In [109]:
#star pattern
 
rows=int(input("enter rows:"))
for i in range(rows + 1):
 for j in range(1,i+1):
   print("*", end = " ")
 print()

enter rows: 7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [58]:
#while loop
num=1
while num <= 10:
    print(num)
    num +=1

1
2
3
4
5
6
7
8
9
10

In [64]:
num=2
while num <= 20:
    print(num)
    num +=2

2
4
6
8
10
12
14
16
18
20

In [80]:
import random
secret_number = random.randint(1,10)

guess = None
attempts = 0

while guess != secret_number:
 guess = int(input("guess the number:"))
 attempts += 1
 if guess < secret_number:
     print("too low")
 elif guess > secret_number:
    print("too high")
 else:
    print(f"You guessed it in {attempts} attempts")

guess the number: 5

too low

guess the number: 4

too low

guess the number: 6

too low

guess the number: 8

You guessed it in 4 attempts

In [82]:
#functions - block of code which runs when fun is called

#user define
def add():
    print(2+7)

In [83]:
add()

9

In [84]:
def sub():
    print(2-7)

In [85]:
sub()

-5

In [95]:
def addition(a,b):
 print(a+b)
def subt(a,b):
     print(a-b)

In [96]:
addition(4,6)
add()
sub()
subt(55,44)

10
9
-5
11

In [97]:
def call_name(name):
    print(f"my name is {name}")

In [98]:
call_name("Nehu")

my name is Nehu

In [110]:
#Fn with arbitary args

def numbers(*args):
    for i in args:
        print(i)

numbers(1,2,3)

1
2
3

In [125]:
def even_odd(*args):
    even_list=[]
    odd_list=[]
    for i in args:
        if i % 2 == 0:
          even_list.append(i)
        else:
          odd_list.append(i)
    return even_list, odd_list
even_odd(1,2,3,4,5,6,7,8,9,10)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [124]:
#login fn
def login(name,password):
    if name == "iceem" and password == 1234:
        print("welcome iceem")
    else:
        print("invalid user")

login("iceem",1234)

welcome iceem

In [126]:
#lambda- small anonymous namess fn
x=lambda a:a+10
print(x(10))

20